@import "@/assets/styles/mixinsAndVariables";
@import "@/assets/styles/fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
    @include mobile {
        padding: 46px 16px;
    }
}
.no-scroll{
    overflow: hidden;
}
