$olive : #7B9561;
$darkGreen: #3E5532;
$madderLake : #C94040;
$lightGrayishRed: #F3DADA;
$paleGreen: #DFE8D7;
$paleYellow: #EFF4EB;
$lightGrayishGreen: #BDCAB0;
$lightGreenishGreen: #C1D4B2;

@mixin header-link {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 22px;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: -0.02em;
}
@mixin h3 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: -0.05em;
    text-align: left;
    color: black;
}
@mixin h2 {
    @include inter-500;
    color: #000;
    font-size: 72px;
    line-height: 110%;
    letter-spacing: -1.8px;
}
@mixin inter-300 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;

}
@mixin inter-400 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.02em;
    text-align: left;
}
@mixin inter-500 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: left;
}
@mixin comforta-500 {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    font-family: 'Comfortaa', sans-serif;
}
@mixin green-button {
    color: white;
    background: $olive;
    border-radius: 16px;
    padding: 16px 24px;
    @include inter-500;
    font-size: 20px;
    line-height: 22px;
    border: none;
    cursor: pointer;
}
@mixin green-button-hover {
    background: $lightGreenishGreen;
    color: black;
}
@mixin slider-arrow {
    color: rgba(123, 149, 97, 0.5);
    -webkit-mask-image: url('@/../public/images/homePage/aboutUs/about-us-button-next.svg');
    mask-image: url('@/../public/images/homePage/aboutUs/about-us-button-next.svg');
}
@mixin slider-arrow-hover {
    background-color: $olive;
    -webkit-mask-image: url('@/../public/images/homePage/aboutUs/about-us-button-next.svg');
    mask-image: url('@/../public/images/homePage/aboutUs/about-us-button-next.svg');
}
@mixin form-icon {
    background-color: $lightGrayishRed;
    -webkit-mask-image: url('@/../public/images/cart/form/error-icon.svg');
    mask-image: url('@/../public/images/cart/form/error-icon.svg');
}
@mixin form-icon-hover {
    background-color: $madderLake;
    -webkit-mask-image: url('@/../public/images/cart/form/error-icon.svg');
    mask-image: url('@/../public/images/cart/form/error-icon.svg');
}
@mixin default-form {
    border-radius: 16px;
    border: 1px solid rgba(123, 149, 97, 0.5);
    outline: none;
    padding: 13px 24px;
    @include inter-300;
    font-size: 16px;
    line-height: 16px;
}
@mixin default-form-error {
    border: 1px solid $madderLake;
}
@mixin default-form-hover {
    border: 1px solid $olive;
}
